PPLX_API_KEY=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
OPENAI_API_KEY=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